<a href="https://colab.research.google.com/github/VitorFRodrigues/Alura_Challenges/blob/main/notebook/Alura_Challenge_DataScience1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dados_URL = 'https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json'

In [2]:
import pandas as pd
dados = pd.read_json(dados_URL)

In [3]:
dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

As últimas colunas estão compiladas com dicionários:

Vamos expandir as colunas com o auxilio da função *json_normalize*. Vamos criar uma função para automatizar

In [4]:
def normalizar(dados, colunas):
  for i in range(0, len(colunas)):
    normaliza = pd.json_normalize(dados[colunas[i]])
    dados = pd.concat([dados, normaliza], axis='columns').drop(columns=colunas[i])
  return dados

In [5]:
colunas = ['customer', 'phone', 'internet', 'account']
dados = normalizar(dados, colunas)

In [6]:
dados

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

#1.0 Analise e categorização dos dados

##1.1 CustomerID

Checagem se cada ID é único

In [7]:
len(dados['customerID'].unique())

7267

Valores únicos de customerID é igual ao número de linhas dos dados o que comprova que cada linha possui ID único.

##1.2 Churn

Checagem se opção de escolha se limita a Yes / No

In [8]:
dados['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

Vemos que algumas linhas não possuem tag, vamos identificar quantas linhas:

In [9]:
len(dados.query('Churn!="Yes" & Churn!="No"'))

224

In [10]:
len(dados.query('Churn!="Yes" & Churn!="No"'))/len(dados)*100

3.0824274115866244

São 224 linhas sem Tag o que corresponde a cerca de 3% de todo conjunto de dados. Estas serão armazenada em variável específica e removida do conjunto de dados

In [11]:
dados_sem_tag = dados.query('Churn!="Yes" & Churn!="No"')
dados_sem_tag

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.2
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.9
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [12]:
dados_limpos = dados.query('Churn=="Yes" or Churn=="No"')
dados_limpos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [13]:
dados_limpos['Churn'].unique()

array(['No', 'Yes'], dtype=object)

##1.3 Categorização de demais colunas

Muitas features possuem categorização simples (ex.: Yes/No, Female/Male, etc.). Sendo assim, vamos criar uma função que busca por tais colunas e categoriza-las.

In [14]:
for columns in dados_limpos:
  print(f'Coluna {columns}: {dados_limpos[columns].unique()}')

Coluna customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Coluna Churn: ['No' 'Yes']
Coluna gender: ['Female' 'Male']
Coluna SeniorCitizen: [0 1]
Coluna Partner: ['Yes' 'No']
Coluna Dependents: ['Yes' 'No']
Coluna tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42
  0]
Coluna PhoneService: ['Yes' 'No']
Coluna MultipleLines: ['No' 'Yes' 'No phone service']
Coluna InternetService: ['DSL' 'Fiber optic' 'No']
Coluna OnlineSecurity: ['No' 'Yes' 'No internet service']
Coluna OnlineBackup: ['Yes' 'No' 'No internet service']
Coluna DeviceProtection: ['No' 'Yes' 'No internet service']
Coluna TechSupport: ['Yes' 'No' 'No internet service']
Coluna StreamingTV: ['Yes' 'No' 'No internet service']
Coluna StreamingMovies: ['No' 'Yes' 'No internet service']
Coluna Contract: ['One year' 'Month-to-month' 'Two year']
Coluna PaperlessBilling: ['Yes' 'No']
Coluna PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Coluna Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Coluna Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

Camos categorizar itens simples utilizando função replace:

In [15]:
substituir = {'Female': 0,
              'Male': 1,
              'No': 0,
              'Yes': 1,
              'No phone service': 2,
              'No internet service': 3,
              'DSL': 4,
              'Fiber optic': 5,
              'One year': 6,
              'Month-to-month': 7,
              'Two year': 8,
              'Mailed check': 9,
              'Electronic check': 10,
              'Credit card (automatic)': 11,
              'Bank transfer (automatic)': 12,
              }
dados_categorizados = dados_limpos.replace(substituir)

In [16]:
for columns in dados_categorizados:
  print(f'Coluna {columns}: {dados_categorizados[columns].unique()}')

Coluna customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Coluna Churn: [0 1]
Coluna gender: [0 1]
Coluna SeniorCitizen: [0 1]
Coluna Partner: [1 0]
Coluna Dependents: [1 0]
Coluna tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42
  0]
Coluna PhoneService: [1 0]
Coluna MultipleLines: [0 1 2]
Coluna InternetService: [4 5 0]
Coluna OnlineSecurity: [0 1 3]
Coluna OnlineBackup: [1 0 3]
Coluna DeviceProtection: [0 1 3]
Coluna TechSupport: [1 0 3]
Coluna StreamingTV: [1 0 3]
Coluna StreamingMovies: [0 1 3]
Coluna Contract: [6 7 8]
Coluna PaperlessBilling: [1 0]
Coluna PaymentMethod: [ 9 10 11 12]
Coluna Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Coluna Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

Vamos buscar quais dados se encontram não-categorizados ou não-numéricos. A expectativa é que apenas o 'customerID' esteja não-categorizada:

In [17]:
dados_categorizados.describe().columns
for columns in dados_categorizados:
  if columns not in dados_categorizados.describe().columns:
    print(columns)

customerID
Charges.Total

Vamos transformar Charges.Total em número:

In [18]:
dados_categorizados['Charges.Total'] = pd.to_numeric(dados_categorizados['Charges.Total'], errors='coerce')

Agora podemos adquirir informações do data frame com a função describe

In [19]:
dados_categorizados.describe()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000
mean,0.265370,0.504756,0.162147,0.483033,0.299588,32.371149,0.903166,0.615505,3.572909,0.936675,0.994889,0.993895,0.940224,1.034360,1.037910,7.031521,0.592219,10.425671,64.761692,2283.300441
std,0.441561,0.500013,0.368612,0.499748,0.458110,24.559481,0.295752,0.656039,1.929874,1.165986,1.142491,1.142921,1.164650,1.124568,1.122874,0.669984,0.491457,1.068104,30.090047,2266.771362
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,9.000000,18.250000,18.800000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,10.000000,35.500000,401.450000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,10.000000,70.350000,1397.475000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,11.000000,89.850000,3794.737500
max,1.000000,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,8.000000,1.000000,12.000000,118.750000,8684.800000

Vemos que coluna Charges.Total possui contagem diferente das demais colunas. Por regra, cada coluna de dataframe possui tipo definido. Sendo assim, há chances destes números serem do tipo NaN (Not-a-number).

In [20]:
dados_categorizados[dados_categorizados.isna().any(axis=1)]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,0,0,0,1,1,0,0,2,4,...,1,1,1,1,0,8,0,11,56.05,NaN
1775,2520-SGTTA,0,0,0,1,1,0,1,0,0,...,3,3,3,3,3,8,0,9,20.00,NaN
1955,2775-SEFEE,0,1,0,0,1,0,1,1,4,...,1,0,1,0,0,8,1,12,61.90,NaN
2075,2923-ARZLG,0,1,0,1,1,0,1,0,0,...,3,3,3,3,3,6,1,9,19.70,NaN
2232,3115-CZMZD,0,1,0,0,1,0,1,0,0,...,3,3,3,3,3,8,0,9,20.25,NaN
2308,3213-VVOLG,0,1,0,1,1,0,1,1,0,...,3,3,3,3,3,8,0,9,25.35,NaN
2930,4075-WKNIU,0,0,0,1,1,0,1,1,4,...,1,1,1,1,0,8,0,9,73.35,NaN
3134,4367-NUYAO,0,1,0,1,1,0,1,1,0,...,3,3,3,3,3,8,0,9,25.75,NaN
3203,4472-LVYGI,0,0,0,1,1,0,0,2,4,...,0,1,1,1,0,8,1,12,52.55,NaN
4169,5709-LVOEQ,0,0,0,1,1,0,1,0,4,...,1,1,0,1,1,8,0,9,80.85,NaN
5599,7644-OMVMY,0,1,0,1,1,0,1,0,0,...,3,3,3,3,3,8,0,9,19.85,NaN

Como 11 linhas representa apenas 0,15% dentro das 7.043 linhas, vamos remove-las do dataframe

In [21]:
dados_NaN = dados_categorizados[dados_categorizados.isna().any(axis=1)]
dados_categorizados = dados_categorizados.drop(dados_categorizados[dados_categorizados.isna().any(axis=1)].index)

In [22]:
dados_categorizados.describe()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.265785,0.504693,0.162400,0.482509,0.298493,32.421786,0.903299,0.615330,3.575654,0.935011,0.993316,0.992321,0.938567,1.032850,1.036832,7.030290,0.592719,10.426763,64.798208,2283.300441
std,0.441782,0.500014,0.368844,0.499729,0.457629,24.545260,0.295571,0.655867,1.928525,1.165284,1.141820,1.142250,1.163950,1.123912,1.122016,0.669398,0.491363,1.067504,30.085974,2266.771362
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,9.000000,18.250000,18.800000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,10.000000,35.587500,401.450000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,10.000000,70.350000,1397.475000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,11.000000,89.862500,3794.737500
max,1.000000,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,8.000000,1.000000,12.000000,118.750000,8684.800000

Agora que os dados estão devidamente categorizados, vamos descrever as colunas para entendimento do pessoal da produção:

In [23]:
descricao_colunas = {
    'customerID': 'número de identificação único de cada cliente',
    'Churn': 'se o cliente deixou ou não a empresa',
    'gender': 'gênero (masculino e feminino)',
    'SeniorCitizen': 'informação sobre um cliente ter ou não idade igual ou maior que 65 anos',
    'Partner': 'se o cliente possui ou não um parceiro ou parceira',
    'Dependents': 'se o cliente possui ou não dependentes',
    'tenure': 'meses de contrato do cliente',
    'PhoneService': 'assinatura de serviço telefônico',
    'MultipleLines': 'assisnatura de mais de uma linha de telefone',
    'InternetService': 'assinatura de um provedor internet',
    'OnlineSecurity': 'assinatura adicional de segurança online',
    'OnlineBackup': 'assinatura adicional de backup online',
    'DeviceProtection': 'assinatura adicional de proteção no dispositivo',
    'TechSupport': 'assinatura adicional de suporte técnico, menos tempo de espera',
    'StreamingTV': 'assinatura de TV a cabo',
    'StreamingMovies': 'assinatura de streaming de filmes',
    'Contract': 'tipo de contrato',
    'PaperlessBilling': 'se o cliente prefere receber online a fatura',
    'PaymentMethod': 'forma de pagamento',
    'Charges.Monthly': 'total de todos os serviços do cliente por mês',
    'Charges.Total': 'total gasto pelo cliente'}

Para finalizar o tratamento, vamos adicionar uma coluna indicando o custo diário de cada cliente

In [27]:
#Considerando a media mensal de 30 dias, temos
dados_categorizados['Charges.Daily'] = dados_categorizados['Charges.Monthly']/30
dados_categorizados.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Charges.Daily
0,0002-ORFBO,0,0,0,1,1,9,1,0,4,...,0,1,1,0,6,1,9,65.6,593.30,2.186667
1,0003-MKNFE,0,1,0,0,0,9,1,1,4,...,0,0,0,1,7,0,9,59.9,542.40,1.996667
2,0004-TLHLJ,1,1,0,0,0,4,1,0,5,...,1,0,0,0,7,1,10,73.9,280.85,2.463333
3,0011-IGKFF,1,1,1,1,0,13,1,0,5,...,1,0,1,1,7,1,10,98.0,1237.85,3.266667
4,0013-EXCHZ,1,0,1,1,0,3,1,0,5,...,0,1,1,0,7,1,9,83.9,267.40,2.796667

Vamos reorganizar a ordem das colunas

In [28]:
dados_categorizados.columns.tolist()

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total',
 'Charges.Daily']

In [30]:
rearranjo = ['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
             'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Charges.Daily', 'Charges.Monthly', 'Charges.Total']
dados_categorizados = dados_categorizados[rearranjo]
dados_categorizados.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Daily,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,0,0,1,1,9,1,0,4,...,0,1,1,0,6,1,9,2.186667,65.6,593.30
1,0003-MKNFE,0,1,0,0,0,9,1,1,4,...,0,0,0,1,7,0,9,1.996667,59.9,542.40
2,0004-TLHLJ,1,1,0,0,0,4,1,0,5,...,1,0,0,0,7,1,10,2.463333,73.9,280.85
3,0011-IGKFF,1,1,1,1,0,13,1,0,5,...,1,0,1,1,7,1,10,3.266667,98.0,1237.85
4,0013-EXCHZ,1,0,1,1,0,3,1,0,5,...,0,1,1,0,7,1,9,2.796667,83.9,267.40

#2.0 Analise exploratória e data vizualization